Repository phrazzld/bitcoin-price-tag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js, node scripts/check-image-size.js

feat: add pre-push hook to run test suite
  .husky/pre-commit
  .husky/pre-push
  TODO.md
  package.json
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve unhandled promise rejections in API tests
  T043-COMPLETION-SUMMARY.md
  TODO.md
  src/service-worker/api-error.test.ts
  src/service-worker/api-retry.test.ts
  tests/integration/messaging.integration.test.ts
  tests/utils/test-lifecycle.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve CI timer state corruption in TestLifecycleManager
  TODO.md
  src/service-worker/index.test.ts
  tests/utils/test-lifecycle.test.ts
  tests/utils/test-lifecycle.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve service worker test cleanup timeouts and CI linting error
  TODO.md
  tests/utils/test-lifecycle.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: complete service worker cleanup and timer validation tasks
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: complete all high priority CI blocker tasks
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement test stratification strategy to resolve CI timeouts
  .husky/pre-commit
  docs/CI_TEST_STRATEGY.md
  package.json
  scripts/smart-test.js
  vitest.ci.config.ts
  vitest.smoke.config.ts
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

fix: exclude heavy service worker integration test from CI suite
  vitest.ci.config.ts
Due: none

feat: implement test stratification strategy for CI optimization
  eslint.config.js
  scripts/smart-test.js
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

fix: update CI workflow to use optimized test suite
  .github/workflows/ci.yml
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve CI timer test timeout with timeout protection
  TODO.md
  tests/utils/test-lifecycle.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement GitHub repository project management infrastructure
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactoring.md
  BACKLOG.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: remove await on void-returning alarm handlers
  src/service-worker/index.test.ts
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{json,md,yml,yaml})
  eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0': any of: *.js
  node scripts/check-sensitive-data.js: (any of: *.js) or (any of: *.{json,md,yml,yaml})
  node scripts/check-image-size.js: any of: *.{png,jpg,jpeg,gif,webp}
