Repository phrazzld/bitcoin-price-tag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js, node scripts/check-image-size.js

docs: mark T023 conventional commits as complete
  TODO.md
  test-commit.txt
Due: prettier --write, node scripts/check-sensitive-data.js

feat: configure comprehensive CI quality pipeline
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write, node scripts/check-sensitive-data.js

docs: mark T024 CI quality pipeline as complete
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement comprehensive coverage gates
  .codecov.yml
  .github/workflows/ci.yml
  package.json
  vitest.config.ts
Due: prettier --write, node scripts/check-sensitive-data.js

docs: mark T025 coverage gates as complete
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

chore: clean up development tooling
  .husky/commit-msg
  eslint.config.js
  pnpm-lock.yaml
  test-commit.txt
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

chore(docs): cleanup
  ADDRESS-CONTEXT.md
  CODE_REVIEW.md
  PLAN.md
  T003-remaining-work.md
  T004-completion.md
  T019-async-audit.md
  TICKET-CONTEXT.md
  TODO.md
  TYPE_SUPPRESSION_AUDIT.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: correct package manager cache configuration in CI workflow
  .github/workflows/ci.yml
Due: prettier --write, node scripts/check-sensitive-data.js

fix: reorder CI workflow steps to install pnpm before Node.js setup
  .github/workflows/ci.yml
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve major CI pipeline failures and improve test infrastructure
  CI-FAILURE-SUMMARY.md
  CI-RESOLUTION-PLAN.md
  TODO.md
  eslint.config.js
  src/content-script/dom-observer-debouncing.test.ts
  src/content-script/dom-observer-filtering.test.ts
  src/content-script/dom-observer-integration.test.ts
  src/content-script/dom-observer-mutations.test.ts
  src/content-script/dom-observer-setup.test.ts
  src/content-script/dom-observer.test.ts
  tsconfig.json
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

fix: resolve production code TypeScript and build issues
  TODO.md
  src/content-script/messaging.ts
  src/service-worker/api.ts
  src/service-worker/cache-success.test.ts
  src/service-worker/cache.test.ts
  src/service-worker/cache.ts
  src/service-worker/index.test.ts
  src/shared/errors/cache-error.ts
  src/shared/errors/guards.ts
  src/shared/errors/index.ts
  src/shared/errors/messaging-error.ts
  src/shared/errors/serialization.ts
  tsconfig.build.json
  webpack.config.js
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

feat: resolve major TypeScript compilation errors and improve CI pipeline
  TODO.md
  src/content-script/dom-observer-debouncing.test.ts
  src/content-script/dom-observer-setup.test.ts
  src/content-script/dom-observer.test.ts
  src/service-worker/api-error.test.ts
  src/service-worker/api-fetch.test.ts
  src/service-worker/api-retry.test.ts
  src/service-worker/cache-success.test.ts
  src/service-worker/cache.test.ts
  src/service-worker/index.test.ts
  src/shared/errors/serialization.test.ts
  src/shared/errors/validation-error.test.ts
  src/shared/logger.mock.ts
  src/shared/logger.test.ts
  src/shared/logger.ts
  test/setup.ts
  tests/harness/ChromeRuntimeHarness.ts
  tests/integration/messaging-simple.test.ts
  tests/mocks/fetch.ts
  tests/mocks/storage.ts
  tests/playwright/fixtures/extension.ts
  tests/utils/api-mocks.ts
  tests/utils/chrome-api-builders.ts
  tests/utils/dom-builders.ts
  tests/utils/dom-observer-helpers.ts
  tests/utils/fetch-builders.ts
Due: prettier --write, node scripts/check-sensitive-data.js

chore: mark T028 as in progress for CI validation testing
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: correct CI status badge URLs to point to phrazzld repository
  README.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: complete T028 CI quality gates end-to-end validation
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement comprehensive CI performance optimizations
  .github/workflows/ci.yml
  TODO.md
  eslint.config.js
  vitest.config.ts
  webpack.config.js
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

feat: implement comprehensive CI monitoring and alerting system
  .github/pages/ci-dashboard.html
  .github/workflows/ci-notifications.yml
  .github/workflows/ci.yml
  TODO.md
  docs/CI_MONITORING.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve Performance.now readonly property error in test infrastructure
  CI-FAILURE-SUMMARY.md
  CI-RESOLUTION-PLAN.md
  src/content-script/dom-observer.test.ts
  tests/utils/dom-observer-helpers.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve TypeScript strict type checking errors in test files
  tests/harness/ChromeRuntimeHarness.ts
  tests/integration/content-script-initialization.test.ts
  tests/integration/messaging-promise.test.ts
  tests/integration/messaging.integration.test.ts
  tests/integration/service-worker-persistence.test.ts
Due: none

fix: resolve major service worker test logic issues
  CI-FAILURE-SUMMARY.md
  CI-RESOLUTION-PLAN.md
  TODO.md
  src/service-worker/cache.test.ts
  src/service-worker/index.test.ts
  tests/playwright/fixtures/extension.ts
  tests/playwright/specs/edge-cases.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement deep type validation for Chrome API messages
  src/service-worker/index.test.ts
  src/service-worker/index.ts
Due: none

chore: update TODO.md to reflect completed tasks T031-T033
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement CI-compatible service worker test infrastructure
  src/service-worker/index.test.ts
Due: none

chore: mark T034 service worker test infrastructure as completed
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: optimize integration test Chrome runtime harness for CI compatibility
  TODO.md
  src/content-script/messaging.ts
  tests/harness/ChromeRuntimeHarness.ts
  tests/integration/messaging.integration.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: improve API error test isolation and prevent cross-contamination
  src/service-worker/api-error.test.ts
  src/service-worker/api-retry.test.ts
  tests/utils/api-mocks.ts
Due: none

docs: update completion status for CI test infrastructure tasks T034-T037
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve service worker API test suite failures (T038)
  TODO.md
  src/service-worker/api-error.test.ts
  src/service-worker/api-retry.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve service worker index test failures (T039)
  CI-FAILURE-SUMMARY.md
  CI-RESOLUTION-PLAN.md
  TODO.md
  src/service-worker/index.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: resolve integration test messaging communication timeouts (T040)
  TODO.md
  tests/harness/ChromeRuntimeHarness.ts
  tests/integration/messaging.integration.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: complete T043 Playwright E2E test stability (core fixes)
  T043-COMPLETION-SUMMARY.md
  TODO.md
  tests/playwright/specs/basic.test.ts
  webpack.config.js
Due: prettier --write, eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0', node scripts/check-sensitive-data.js

fix: resolve ESLint syntax error in Playwright fixture
  .gitignore
  TODO.md
  tests/playwright/fixtures/extension-final.ts
  tests/utils/chrome-mock-patterns.md
Due: prettier --write, node scripts/check-sensitive-data.js

feat: complete T045 Playwright test migration to working infrastructure
  TODO.md
  tests/playwright/fixtures/extension-final.ts
  tests/playwright/helpers/service-worker.ts
  tests/playwright/specs/alarm.test.ts
  tests/playwright/specs/basic.test.ts
  tests/playwright/specs/chrome-api-debug.test.ts
  tests/playwright/specs/combined.test.ts
  tests/playwright/specs/content-script-injection.test.ts
  tests/playwright/specs/edge-cases.test.ts
  tests/playwright/specs/lifecycle.test.ts
  tests/playwright/specs/manual-injection-test.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: add standardized test infrastructure utilities
  tests/utils/chrome-api-factory.test.ts
  tests/utils/chrome-api-factory.ts
  tests/utils/test-lifecycle.test.ts
  tests/utils/test-lifecycle.ts
Due: none

feat: implement comprehensive deep type validation system
  CI-FAILURE-SUMMARY.md
  CI-RESOLUTION-PLAN.md
  TODO.md
  src/common/schema-validation.test.ts
  src/common/schema-validation.ts
  src/content-script/dom-observer.ts
  src/content-script/messaging.test.ts
  src/content-script/messaging.ts
  src/service-worker/api.ts
  src/service-worker/index.ts
  src/shared/logger.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: overhaul CI pipeline and resolve validation test assertions
  .github/workflows/ci-complex-backup.yml
  .github/workflows/ci.yml
  src/common/schema-validation.test.ts
  src/common/schema-validation.ts
  src/service-worker/api-error.test.ts
Due: prettier --write, node scripts/check-sensitive-data.js

fix: remove over-engineered CI notification and monitoring systems
  .github/workflows/ci-complex-backup.yml
  .github/workflows/ci-notifications.yml
Due: prettier --write, node scripts/check-sensitive-data.js

fix: make TypeScript errors non-blocking in CI
  .github/workflows/ci.yml
Due: prettier --write, node scripts/check-sensitive-data.js

fix: update test assertions for new validation error messages
  src/service-worker/index.test.ts
  src/shared/errors/guards.test.ts
  tests/integration/messaging.integration.test.ts
Due: none

fix: resolve critical CI blockers for deep validation system
  tests/integration/service-worker-persistence.test.ts
  vitest.config.ts
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{json,md,yml,yaml})
  eslint --quiet --rule 'no-undef: 1' --rule 'comma-dangle: 0' --rule 'max-lines-per-function: 0' --rule 'complexity: 0' --rule 'max-depth: 0': any of: *.js
  node scripts/check-sensitive-data.js: (any of: *.js) or (any of: *.{json,md,yml,yaml})
  node scripts/check-image-size.js: any of: *.{png,jpg,jpeg,gif,webp}
