Repository phrazzld/bitcoin-price-tag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js, node scripts/check-image-size.js

fix: resolve linting errors in content-module.js
  TODO.md
  content-module.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting errors in content-script.js
  TODO.md
  content-script.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: update dom-scanning tests to use happy-dom instead of JSDOM
  .gitignore
  .lintstagedrc
  background.js
  content-script-fixed.js
  content-script-structure.md
  content-script-structure.txt
  content.js
  dom-scanner.js
  playwright.config.js
  scripts/check-image-size.js
  scripts/check-sensitive-data.js
  test/browser/amazon-compatibility.test.js
  test/browser/example.spec.js
  test/browser/global-setup.js
  test/browser/network-mock.js
  test/performance/dom-scanning.test.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

docs: update TODO.md to mark completed tasks
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

docs: add note explaining temporary Husky bypass
  HUSKY-BYPASS-NOTE.md
Due: prettier --write, node scripts/check-sensitive-data.js

fix: improve pre-commit hooks to run ESLint only on staged files
  .lintstagedrc
Due: none

fix: make performance test more resilient to test environment variations
  test/performance/dom-scanning.test.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting errors in background.js
  TODO.md
  background.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting errors in content-script-fixed.js
  TODO.md
  content-script-fixed.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting error in bootstrap-module.js
  TODO.md
  bootstrap-module.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting errors in cache-manager.js
  TODO.md
  cache-manager.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting errors in callback-utils.js
  TODO.md
  callback-utils.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve linting issues and improve documentation
  .eslintrc-content-script-fixed.json
  .gitignore
  TODO.md
  content-script-structure.md
  content.js
  dom-scanner.js
  eslint-content-script.config.js
  test/browser/amazon-compatibility.test.js
  test/browser/amazon-test-helpers.js
  test/browser/browser-compatibility.test.js
  test/browser/browser-specific.test.js
  test/unit/cache-manager.test.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve Playwright configuration issues
  TODO.md
  playwright.config.js
  test/browser/browser-compatibility.test.js
  test/browser/browser-specific.test.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: properly handle callbacks in cache integration tests
  TODO.md
  test/unit/cache-integration.test.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

fix: resolve lint warnings in test files
  TODO.md
  test/browser/browser-compatibility.test.js
  test/browser/browser-specific.test.js
  test/browser/glance.md
  test/browser/mock-extension.js
  test/browser/test-helpers.js
  test/fixtures/glance.md
  test/glance.md
  test/integration/critical-fixes.test.js
  test/integration/dom-manipulation.test.js
  test/integration/glance.md
  test/performance/dom-scanning.test.js
  test/performance/glance.md
  test/unit/error-handling.test.js
  test/unit/fallback-mechanisms.test.js
  test/unit/glance.md
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

docs: mark Fix Test Suite task as completed
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

chore: remove obsolete and unnecessary files
  .gitignore
  AMAZON-PRICE-DEBUG.md
  CSP-INVESTIGATION.md
  DEBUGGING-INVESTIGATION.md
  HUSKY-BYPASS-NOTE.md
  playwright.config.js
  test/glance.md
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

build: remove git hooks and pre-commit setup for better developer workflow
  TODO.md
  docs/GIT-WORKFLOW.md
  package.json
Due: prettier --write, node scripts/check-sensitive-data.js

fix: implement robust test infrastructure to handle connectivity issues during testing
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  error-handling.js
  eslint.config.js
  playwright.config.js
  test/browser/browser-specific.test.js
  test/browser/example.spec.js
  test/browser/network-mock.js
  vitest.config.js
Due: prettier --write, pnpm lint:hooks, node scripts/check-sensitive-data.js

chore: claude docs update
  .gitignore
  BACKLOG.md
  CLAUDE.md
  docs/DEVELOPMENT_PHILOSOPHY.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_FRONTEND.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_TYPESCRIPT.md
Due: prettier --write, node scripts/check-sensitive-data.js

chore: initialize pnpm project with package.json configuration
  TODO.md
  package.json
Due: prettier --write, node scripts/check-sensitive-data.js

chore: install typescript and chrome/node type definitions
  TODO.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, node scripts/check-sensitive-data.js

chore: create and configure tsconfig.json with strict settings
  TODO.md
  tsconfig.json
Due: prettier --write, node scripts/check-sensitive-data.js

chore: create source directory structure
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

chore: update .gitignore with standard patterns
  .gitignore
  TODO.md
Due: prettier --write, node scripts/check-sensitive-data.js

chore: add TypeScript build script to package.json
  TODO.md
  package.json
Due: prettier --write, node scripts/check-sensitive-data.js

refactor: copy manifest.json and update manifest_version to 3
  TODO.md
  src/manifest.json
Due: prettier --write, node scripts/check-sensitive-data.js

refactor: update manifest to use service worker background
  TODO.md
  src/manifest.json
Due: prettier --write, node scripts/check-sensitive-data.js

refactor: update manifest permissions to minimal set
  TODO.md
  src/manifest.json
Due: prettier --write, node scripts/check-sensitive-data.js

refactor: add host_permissions for CoinDesk API to manifest
  TODO.md
  src/manifest.json
Due: prettier --write, node scripts/check-sensitive-data.js

refactor: update content_scripts path in manifest
  TODO.md
  src/manifest.json
Due: prettier --write, node scripts/check-sensitive-data.js

feat: define shared typescript interfaces and types
  TODO.md
  src/common/types.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: define shared constants for extension
  TODO.md
  src/common/constants.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement CoinDesk API fetching logic
  TODO.md
  src/service-worker/api.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement persistent price cache logic
  TODO.md
  src/service-worker/cache.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement service worker entry point with listeners
  TODO.md
  src/service-worker/index.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement onInstalled handler for alarm creation
  TODO.md
  src/service-worker/index.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement onStartup handler for cache rehydration
  TODO.md
  src/service-worker/index.ts
Due: prettier --write, node scripts/check-sensitive-data.js

feat: implement onAlarm handler for periodic price refresh
  TODO.md
  src/service-worker/index.ts
Due: prettier --write, node scripts/check-sensitive-data.js

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{json,md,yml,yaml})
  pnpm lint:hooks: any of: *.js
  node scripts/check-sensitive-data.js: (any of: *.js) or (any of: *.{json,md,yml,yaml})
  node scripts/check-image-size.js: any of: *.{png,jpg,jpeg,gif,webp}
